<style>
    body{
        font-family:'Courier New', Courier, monospace;
    }

    form {
        text-align: center;
        margin: 50px;
    }

</style>
  <h1 style="text-align: center; margin: 1em;">
    RMV Database Search
  </h1>
  <p class="p-3 m-3 border border-light rounded bg-secondary">
    This is an Express Web Database for RMV registration and renewal. 
    Clients' information can be searched, added, modified, and deleted. 
    </p>
    <a href="/clients/allClients">View Database</a>
    <br>
    <form method="post" action="/clients/byName" style="margin-bottom: 20px;">
        Find Clients by <b>First Name:</b>
        <br>

            <input type="text" name="first_name"
                placeholder="First Name">

        <input class="btn btn-secondary" type="submit" value="Submit">

    </form>

