<style>
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    form {
        text-align: center;
        margin: 50px;
    }
</style>
  <div class="proportion">
    <img class="proportion" src="/images/company_logo.png" alt="company logo">
  </div>
  <h1 style="text-align: center; margin: 1em;">
    Welcome to the Portal Do Imigrante Database Query!
  </h1>
  <div style="align-content: center;">
    <p class="p-3 mx-auto w-75 border rounded bg-white" style="text-align: center;">
        To access the databases on this site, please log in below. 
        </p>
    
    <div style="text-align: center; margin: 1em; padding: 20px;">
        <a class="btn btn-primary" href="/login">Login</a>
    </div>
  </div>
  <br>