<style>
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: whitesmoke;
    }

    form {
        text-align: center;
        margin: 50px;
    }

</style>
<div class="bg-white border border-light rounded mx-auto my-5" style="width: fit-content; padding-top: 2em;">
    <div class="mx-auto" style="align-content: center;">
        <h2 style="text-align: center; margin: 1em; margin-bottom: 1em;"> Log in </h2>
        <form method="post" action="/login" style="line-height: 2em;">
            <div style="line-height: 0.1em; text-align: left;">Username</div><br>
            <input text-align: center;type="text"
                        autocomplete="username"
                        name="username" style="margin-bottom: 1em;"><br>
                        <br>
            <div style="line-height: 0.1em; text-align: left;">Password</div><br>
            <input type="password"
                        autocomplete="password"
                        name="password"><br>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>
</div> 