<style>
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: whitesmoke;
    }

    form {
        text-align: center;
        margin: 50px;
    }

</style>
<div class="bg-white border rounded w-25 mx-auto my-5">
    <div class="mx-auto" style="align-content: center;">
        <h2 style="text-align: center; margin: 1em; margin-bottom: 2em;"> Login </h2>
        <form method="post" action="/login" style="line-height: 2em;">
            <div style="line-height: 1em; text-align: center;">Username</div><br>
            <input text-align: center;type="text"
                        autocomplete="username"
                        name="username"><br>
                        <br>
            <div style="line-height: 1em;">Password</div><br>
            <input type="password"
                        autocomplete="password"
                        name="password"><br>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>
</div> 