body {
    padding: 50px;
    font: 14px Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    margin-top: 60px;
  }
  
  a {
    color: #2a6dff;
  }

  .proportion {
    width: 275px;
    height: auto;
    margin: auto;
    padding-top: 1em;
}