body {
    padding: 50px;
    font: 14px Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    margin-top: 60px;
  }
  
  a {
    color: #2a6dff;
  }

  form {
    text-align: center;
    margin: 50px;
}

  .proportion {
    width: 60%;
    height: auto;
    margin: auto;
    padding-top: 1em;
  }

  .info {
    margin: 0.5em;
  }

  .inputStyle {
    margin-bottom: 1.5em;
    line-height: 2em;
  }
  